:root {
  --primary-light: #ddd;
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --secondary-dark-hover: #4a4f57;
  --secondary-dark-active: #5b5f68;
  --header: #111720;
  --primary-yellow: #fac650;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-family: "Roboto", sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: var(--header);
}

header h1 {
  font-size: 32px;
  color: var(--primary-yellow);
  font-family: "Press Start 2p", cursive;
}
